

<div>
    <h2>Register new Employees</h2>
    <h3>Please fill the inputs</h3>

    <div class = "form register-form">
        <label>Name:</label>
        <input type="text" id="txtName">

        <br>
        <button onclick="SendTest()" class = "btn btn-md btn-primary">Save</button>
    </div>
</div>